<?xml version='1.0' encoding='utf-8'?>
<widget id="com.diegosch.workshop-employees" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>WorkshopEmployees</name>
    <description>
        Tutorial Phonegap - Employee Directory.
        Data adapters-LocalStorage
        Single Page application - Views
        Plugins notification, contacts, camera, geolocation.
        Topcoat
    </description>
    <author email="diego.sch21@gmail.com" href="http://www.diegosch.com.ar">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <gap:plugin name="org.apache.cordova.camera"/>
    <gap:plugin name="org.apache.cordova.contacts"/>
    <gap:plugin name="org.apache.cordova.device"/>
    <gap:plugin name="org.apache.cordova.geolocation"/>
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.console"/>

</widget>
